# Python temporary and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments and dependencies
.venv/
venv/
ENV/
env/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Local application data / Cache files
feed_cache.json
*.log

# Editor and IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
